@use "../../mediaqueries.scss" as mq;

$white-color: white;

#education {
  background-color: #fff;
  .hover-item {
    transition: 0.3s;

    &:hover {
      transform: translate(0, -7px);
    }
  }

  #content {
    p:nth-child(1) {
      font-size: 29px;
      line-height: 29px;
      font-weight: 600;
      text-transform: uppercase;
    }

    p:nth-child(2) {
      font-size: 23px;
      line-height: 23px;
      font-weight: 500;
      text-transform: uppercase;
    }

    p:nth-child(3),
    p:nth-child(4) {
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
    }

    h4 {
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      color: #9564ce;
    }
  }

  @include mq.for-desktop {
    #content {
      margin-top: 100px;
      margin-bottom: 100px;

      #rows {
        hr {
          display: none;
        }
      }
    }
  }

  @include mq.for-md {
    #content {
      margin-top: 100px;
      margin-bottom: 100px;

      #rows {
        hr {
          display: none;
        }
      }
    }
  }

  @include mq.for-tablet {
    #content {
      margin-top: 100px;
      margin-bottom: 100px;

      #rows {
        hr {
          display: none;
        }
      }
    }
  }

  @include mq.for-mobile {
    #content {
      margin-top: 60px;
      margin-bottom: 60px;

      #rows {
        hr {
          display: block;
          margin-top: 20px;
          margin-bottom: 20px;
          border: 1px solid silver;
        }
      }
    }
  }
}
