@use "../../mediaqueries.scss" as mq;
@use "./box-animate.scss" as ba;
@use "./profile-animate.scss" as pa;

#about {
  background-color: #fff;

  @include ba.box-animate;
  @include pa.profile-animate;
  .hover-item {
    transition: 0.3s;

    &:hover {
      transform: translate(0, -7px);
    }
  }

  @include mq.for-desktop {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 300px;
      height: 600px;
    }
  }

  @include mq.for-md {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 550px;
    }
  }

  @include mq.for-tablet {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 550px;
    }
  }

  @include mq.for-mobile {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 500px;
    }
  }
}
