@import "../../mediaqueries.scss";

#about {
  background-color: #fff;

  @import "./box-animate.scss";
  @import "./profile-animate.scss";
  .hover-item {
    transition: 0.3s;

    &:hover {
      transform: translate(0, -7px);
    }
  }

  @include for-desktop {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 300px;
      height: 600px;
    }
  }

  @include for-md {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 550px;
    }
  }

  @include for-tablet {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 550px;
    }
  }

  @include for-mobile {
    #profile-pic {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    #pro-image {
      width: 280px;
      height: 500px;
    }
  }
}
