#experience {
  background-color: #fff;

  #content {
    p:nth-child(1) {
      font-size: 21px;
      line-height: 21px;
      font-weight: 600;
      text-transform: uppercase;
      color: #6f37ae;
    }

    p:nth-child(2) {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }

    p:nth-child(3),
    p:nth-child(4) {
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
    }

    h4 {
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
      color: #9564ce;
    }
  }
}
