#app {
    font-family: "Fira Sans";
  }
  #navbar {
    border-radius: 0%;
    background-color: #9564ce;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .fa-bars {
    color: white;
  }
  #logo {
    color: white;
  }

  #sidebar{
      /* background-color: #f1f1f6; */
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
  }

  #navbar .toggle-btns{
      color: white;
  }